<link href="issues/css/styles.css" rel="stylesheet"></link>
<link href="completed/css/styles.css" rel="stylesheet"></link>
<div ng-controller="CompletedController" ng-show="ready">
	<div class="page-header" style="border: none; margin-bottom: 10px">
		<div class="row" style="margin-bottom: 0px">
			<h2 style="margin-left: 18px">{{'completed.header'|i18n}}</h2>
		</div>
	</div>
	<div class="container">
		<p>{{'completed.intro'|i18n}}</p>
		<div style="margin-top: 30px">
			<div ng-show="completed.length==0" align="center"
				style="width: 30%; margin-left: 35%;"
				class="animate-show alert alert-g">
				{{'completed.noplans'|i18n}}</div>
			<div class="accordion animate-show" id="accordion1">
				<div ng-repeat="plan in completed" class="accordion-group">
					<div tooltip-popup-delay="500" tooltip="{{plan.id}}"
						tooltip-placement="left" class="accordion-heading"
						style="overflow: hidden">
						<a style="float: left" class="accordion-toggle"
							data-toggle="collapse" data-parent="#accordion1"
							ng-href="#collapse1{{$index}}" target="_self">{{plan.opInfo.description}}</a>
						<p style="float: right; margin: 0px; padding: 8px">{{plan.publishDate
							|date: medium}}</p>
					</div>
					<div id="collapse1{{$index}}" class="accordion-body collapse in">
						<div class="accordion-inner">
							<div class="row">
								<div class="span2">
									<p>
										<strong>Object</strong> {{plan.opInfo.object}}
									</p>
								</div>
								<div class="span2">
									<p>
										<strong>State</strong> {{plan.state}}
									</p>
								</div>
								<div class="span">
									<p>
										<strong>Telescope</strong> {{plan.rt}}
									</p>
								</div>
								<div class="span">
									<p>
										<strong>Exposure time</strong> {{plan.opInfo.exposure}} s
									</p>
								</div>
								<div class="span">
									<p>
										<strong>Filter</strong> {{plan.opInfo.filter}}
									</p>
								</div>
								<div align="right" class="span2">
									<p>
										<strong>Updated</strong> {{plan.lastDate | date: medium}}
									</p>
								</div>
							</div>
							<ul class="thumbnails">
								<li ng-repeat="result in plan.results" class="span3"
									style="margin-bottom: 0px; margin-top: 15px">
									<div class="experiment-banner pcard">
										<a ng-href="{{result.images[0].url}}" target="_blank"><img
											ng-src="{{result.images[0].url}}"></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>